body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:underline; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }
html, body{
  background-color #f0f2f5
}
html, body, .main, .home {
  width 100%
  height 100%
}
.ml20{
  margin-left: 20px  
}
.mr20{
  margin-right 20px  
}
.mt20{
  margin-top 20px  
}
.mb20{
  margin-bottom 20px  
}
.mr10{
	margin-right 10px  
}
.p20{
  padding: 20px  
}
.pl20{
  padding-left: 20px  
}
.pb20{
  padding-bottom: 20px  
}
.pb20{
  padding-bottom: 20px  
}
.pt10{
  padding-top: 10px  
}
.pt20{
  padding-top: 20px  
}
.pr30 {
  padding-right: 30px;
}
.pr20{
  padding-right: 20px  
}
.pr6{
  padding-right: 6px  
}
.mt10{
	margin-top: 10px;
}
.mr20{
 margin-right: 20px  
}
.t-c{
	text-align: center;
}
.h-100{
	height: 100%;
}